   <!--JavaScript Section -->
    <scripts src="Scripts/lib/jquery/dist/jquery.min.js"></scripts>
    <scripts src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></scripts>
    <scripts src="Scripts/app.js"></scripts>
</body>

</html>